/* Shared style */
body {
  font-family: "Open Sans", sans-serif;
}
.primary-color {
  color: #fd6e0a;
}
.button-primary {
  border-radius: 5px;
  background: #fd6e0a;
  color: var(--white-color, #fff);
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 15px 35px;
}
.section-title {
  color: var(--dark-01, #181818);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-des {
  color: var(--dark-03, #757575);
  text-align: center;
  font-size: 18px;
}
/* navigation css */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: var(--dark-02, #474747);
  font-size: 20px;
  font-weight: 400;
}
/* header  style */
.header {
  background-color: #fff8f3;
  background-image: url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dp {
  width: 500px;
}
.bnr-gretting {
  color: var(--dark-02, #474747);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 1px;
}
.bnr-title {
  color: var(--dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 0px;
}
.bnr-des {
  color: var(--dark-03, #757575);

  font-size: 18px;

  font-weight: 400;
  line-height: 30px;
}
/* main section styles */
main {
  max-width: 1140px;
  margin: 0px auto;
}
/* about section */
.about {
  /* width: 900px;
  height: 550px; */
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px;
  margin: 130px 0px;
}
.section-info-container {
  display: flex;
  justify-content: space-around;
}
.about-inf {
  text-align: center;
}
.info-name {
  color: #474747;
}
.info-data {
  color: #757575;
}
/* slkfl;sdkjf */
.skill-description {
  padding: 30px 150px;
}
.skill-container {
  display: flex;
  
  
}
.skill {
  padding: 25px;
  border: #181818;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  gap: 24px;
}
